body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: "Nunito";
    /* text-align: center; */
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(46, 155, 36);
}
.container a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px 10px 20px;
    background-color: rgb(141, 224, 133);
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: "Nunito";
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.container a:hover {
    background-color: rgb(46, 155, 36);
}
.bree-serif-regular {
  font-family: "Bree Serif", serif;
  /* font-weight: 400; */
  font-style: normal;
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}